<!DOCTYPE html>
<html>
<head>
  <title>New Comment</title>
</head>
<body>
<div class="flex-centered">
<div class="flex-column-centered new-comment mt-4 br-5">
  <h1>New Comment</h1>
  <%= form_with model: @comment, url: comments_path do |form| %>
    <%= @post.id %>
    post-id<%= @post.id %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <div class="flex-column">
    <div class="flex">
      <%= form.label :content %>
      <%= form.text_area :text , class: "custom-text-area", cols: 50, rows: 6 %>
    </div>
    <div>
      <%= form.submit "Create Comment", class: "hey"%>
    </div>
    </div>
  <% end %>
  </div>
</body>
</html>

 
