<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <div class="user-container ">
    <div class="users flex-spaced">
      <div class="user-photo bordered">
        <img src="<%= @user.photo %>">
      </div>
      <div class="details bordered flex-spaced">
          <div class="user-name"><%= @user.name %></div>
          <div class="post-nums">Number of posts: <%= @user.posts.count %></div>
      </div>
    </div>
    <div class="bio bordered flex-c">
      <p>bio</p>
      <span><%= @user.bio %></span>
      <span>user id<%= @user.id.class %></span>
    </div>
    <div class="post-container mb-1">
    <% @user.recent_posts.each_with_index do |post, index| %>
      <div class="flex post-comment">
        <%= link_to user_post_path(@user, post), id: "user-post-link-#{@user.id}",  class: "bio flex-c" do %>
          <p>post #<%= index + 1 %> </p>  </p>post-id:  <%= post.id %>
          <span><%= post.text %></span>
          <%= link_to new_comment_path(user_id: @user.id, post_id: post.id), class: "mr-1 absolute bottom-left-cornor mb-1 btn" do %><p>Comment on this post</p><% end %>
        <% if can? :destroy, @post %>
        <%= form_with(model: @post, url: post_path(@post, id: post.id), method: :delete, data: { turbo: "false" }) do |form| %>
            <%= form.submit "Delete Post", class: "absolute delete-post top-right-cornor delete-post", data: { confirm: "Are you sure you want to delete this post?" } %>
        <% end %>
      <% end %>
      
        <% end %>
        <div class="comment-likes flex gap-1">
          <div class="flex-c gap-3">
            <div>
              <div>Comments: <%= post.comments.count%></div>
              <div>Likes:  <%= post.likes.count%></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="flex-centered">
    <div class="flex">
      <%= link_to user_posts_path(@user), class: "btn see-all-posts", title: "See all posts" do %><p>See all posts</p><% end %>
    </div>
    </div>
    <div class="flex-spaced post-choice relative">
    <%= link_to user_path(@user), class: "btn absolute my-post mt-4" do %><p>My Posts</p><% end %>
    <%= link_to new_post_path(@user), class: "btn absolute new-post mt-4" do %><p>New Post</p><% end %>
  </div>
    </div> 
</body>
</html>
