<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <div class="user-container ">
    <div class="users flex-spaced">
      <div class="user-photo bordered">Photo</div>
      <div class="details bordered flex-spaced">
          <div class="user-name"><%= @user.name %></div>
          <div class="post-nums">Number of posts: <%= @user.posts.count %></div>
      </div>
    </div>
    <div class="bio bordered flex-c">
      <p>bio</p>
      <span><%= @user.bio %></span>
    </div>
    <div class="post-container .flex-column">
    <% @user.posts.each_with_index do |post, index| %>
      <div class="flex post-comment">
        <div class="bio flex-c">
          <p>post #<%= index + 1 %> </p> 
          <span><%= post.text %></span>
        </div>
        <div class="comment-likes">
          <div>Comments: <%= post.comments.count%></div>
          <div>Likes:  <%= post.likes.count%></div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="  flex-centered">
      <div class="see-all"><p>See all posts</p></div>
    </div>
    </div> 
</body>
</html>
