<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <div class="user-container ">
    <div class="users flex-spaced">
      <div class="user-photo bordered">Photo</div>
      <div class="details bordered flex-spaced">
          <div class="user-name"><%= @user.name %></div>
          <div class="post-nums">Number of posts: <%= @user.posts.count %></div>
      </div>
    </div>
    <div class="bio bordered flex-c">
      <p>bio</p>
      <span><%= @user.bio %></span>
      <span>user id<%= @user.id.class %></span>
    </div>
    <div class="post-container mb-1">
    <% @user.recent_posts.each_with_index do |post, index| %>
      <div class="flex post-comment">
        <%= link_to user_post_path(@user, post),  class: "bio flex-c" do %>
          <p>post #<%= index + 1 %> </p>  </p>post-id:  <%= post.id %>
          <span><%= post.text %></span>
          <%= link_to new_comment_path(user_id: @user.id, post_id: post.id), class: "mr-1 absolute bottom-left-cornor mb-1 btn" do %><p>Comment on this post</p><% end %>
        
        <% end %>
        <div class="comment-likes flex gap-1">
          <div class="flex-c gap-3">
            <div>
              <div>Comments: <%= post.comments.count%></div>
              <div>Likes:  <%= post.likes.count%></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="  flex-centered">
      <div class="flex">
          <%= link_to user_posts_path(@user), class: "btn" do %><p>See all posts</p><% end %>
      </div>
    </div>
    </div> 
</body>
</html>
