<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <div class="user-container ">
    <div class="users flex-spaced">
      <div class="user-photo bordered">Photo</div>
      <div class="details bordered flex-spaced">
          <div class="user-name"><%= @user.name %></div>
          <div class="post-nums">Number of posts: <%= @user.posts.count %></div>
      </div>
    </div>
    <div class="bio bordered flex-c">
      <p>bio</p>
      <span><%= @user.bio %></span>
    </div>
    <div class="post-container mb-1">
    <% @user.recent_posts.each_with_index do |post, index| %>
      <div class="flex post-comment">
        <a href="<%= user_post_path(@user, post) %>" class="bio flex-c">
          <p>post #<%= index + 1 %> </p> 
          <span><%= post.text %></span>
        </a>
        <div class="comment-likes flex gap-1">
          <div>Comments: <%= post.comments.count%></div>
          <div>Likes:  <%= post.likes.count%></div>
        </div>
      </div>
    <% end %>
    <div class="  flex-centered">
      <a href="<%= user_posts_path(@user) %>" class="see-all"><p>See all posts</p></a>
    </div>
    </div> 
</body>
</html>
