<!DOCTYPE html>
<html>
<head>
  <title>User Posts</title>
</head>
<body>
  <div class="user-container ">
    <div class="users flex-spaced">
      <div class="user-photo bordered">Photo</div>
      <div class="details bordered flex-spaced">
          <div class="user-name"><%= @user.name %></div>
          <div class="post-nums">Number of posts: <%= @posts.count %></div>
      </div>
    </div>
    <% @posts.each_with_index do |post, index| %>
      <div class="flex post-comment">
        <div class="bio bordered flex-c">
          <p>post #<%= index + 1 %> </p> 
          <span><%= post.text %></span>
        </div>
        <div class="comment-likes flex gap-1">
            <div>Comments: <%= post.comments.count%></div>
            <div>Likes:  <%= post.likes.count%></div>
        </div>
      </div>

      <!-- posts comment section  -->
      <% if post.comments.any? %>
      <div class="flex post-comment">
        <div class="bio bordered flex-c">
          <% post.comments.each_with_index do |comment, index| %>
            <% user = User.find_by(id: comment.author_id) %>
            <div class="flex">
              <%= user.name %>
              <span><%= comment.text %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p> No comments yet! </p>
    <% end %>
    <% end %>
  </div> 
</body>
</html>
