<!DOCTYPE html>
<html>
<head>
  <title>User Posts</title>
</head>
<body>
  <div class="user-container ">
    <div class="users flex-spaced">
      <div class="user-photo bordered">Photo</div>
      <div class="details bordered flex-spaced">
          <div class="user-name"><%= @user.name %></div>
          <div class="post-nums">Number of posts: <%= @user.posts.count %></div>
      </div>
    </div>
    <% @user.posts.reverse_each.each_with_index do |post, index| %>
      <div class="post-comment">
        <%= link_to user_post_path(user_id: @user.id, id: post.id), id: "user-post-link-#{@user.id}", class: "bio bordered flex-c" do %>
          <p>post #<%= index + 1 %> </p>post-id:  <%= post.id %>
          <span><%= post.text %></span>
        <% end  %>
        <div class="comment-likes flex gap-1">
            <div>Comments: <%= post.comments.count%></div>
            <div>Likes:  <%= post.likes.count%></div>
        </div>
      </div>

      <!-- posts comment section  -->
      <% if post.comments.any? %>
      <div class="post-comment">
        <div class="bio bordered flex-c scroll">
        <% post.comments.each_with_index do |comment, index| %>
        
            <% user = User.find_by(id: comment.author_id) %>
            <div class="flex">
              <%= user.name %>
              <span><%= comment.text %></span>
            </div>
            <% if can? :destroy, comment %>
              <%= form_with(model: comment, url: comment_path(comment), method: :delete, data: { turbo: "false" }) do |form| %>
                <%= form.submit "Delete this comment", class: "delete-post top-right-cornor" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <p> No comments yet! </p>
    <% end %>
    <% end %>
    <div class="  flex-centered">
    <div class="btn"><p>Pagination</p></div>
  </div>
  </div> 
</body>
</html>
