<!DOCTYPE html>
<html>
<head>
  <title>User Post</title>
</head>
<body>
  
  <div class="user-container">
    <div class="post-comment">
      <div class="bio bordered flex-c relative">
        <div class="flex-spaced">
          <p>post by <%= @post.author.name %></p>
          <div class="flex absolute top-right-cornor"> 
            <p>comments <%= @post.comments.count %></p> 
            <p>likes <%= @post.likes.count %></p>
          </div>
        </div>
        <span><%= @post.text %></span>

        <%= link_to new_comment_path(user_id: @user.id, post_id: @post.id), class: "btn absolute bottom-right-cornor mb-1" do %><p>Comment on this post</p><% end %>
      </div>
    </div>
    <div class="flex-columnaaa post-comment pl-1">
    <b>comments:</b>
    <% @post.comments.each do |comment| %>
      <div class="flex">
        <p><%= comment.author.name %>: </p>
        <p><%= comment.text %></p>
      </div>
    <% end %>
    <div class="flex-spaced post-choice relative">
      <%= link_to user_path(@user), class: "btn absolute my-post mt-4" do %><p>My Posts</p><% end %>
      <%= link_to new_post_path(@user), class: "btn absolute new-post mt-4" do %><p>New Post</p><% end %>
    </div>
    </div>
  </div>
</body>
</html>
